.Table1 {
    overflow-x: auto;
    border-collapse: collapse;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .Table1 {
        overflow-x: auto;
        border-collapse: auto;
        width: auto;    
    }
}